

$purple: #651FFF;
$white: #fff;
$black: #0B0D0E;
$text-grey: #5C5F6E;
$transition: all ease-in-out 300ms;
$footer-blue: #1A284E;
$low-white: #ECECFE;
$light-cream: #FFF7ED;
$light-blue: #E0F7FA;
$light-purple: #ECECFE;