@import "../../styles/variables.scss";


.home_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    padding: 2rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s;

    h1{
        width: 55rem;
        text-align: center;
    }

    p{
        text-align: center;
        width: 40rem;
    }
}

.home_header_picture{
    width: 60%;
    margin: auto;
    
    img{
        animation: header_picture_blur 3s ease-in-out infinite;
        max-width: 100%;
    }
}
@keyframes header_picture_blur {
    0%{filter: blur(0px);}
    25%{filter: blur(1px);}
    50%{filter: blur(2px);}
    75%{filter: blur(1px);}
    100%{filter: blur(0px);}
}


.home_lightening{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 10rem;


    .home_lightening_cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.lightweight_header{
    padding: 5rem;
    text-align: center;
}

.lightweight_small_cards{
    margin-bottom: 2rem;

    .lightweight_small_cards_first{
        background-color: $light-cream;
    }
    .lightweight_small_cards_second{
        background-color: $light-blue;
    }
    .lightweight_small_cards_first, .lightweight_small_cards_second{
        width: 500px;
        height: 600px;
        overflow: hidden;
        padding: 5rem 3rem 0rem;
        border-radius: 20px;
        box-shadow: 5px -5px 5px -3px rgba(0,0,0,0.1),0px 0px 0px -3px rgba(0,0,0,0.1);

        
        h1{
            color: $purple;
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            font-size: .9rem;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}

.t_collab{
    background-color: $light-purple;
    width: 1200px;
    margin-bottom: 20rem;
    box-shadow: -3px -3px 15px -3px rgba(0,0,0,0.1),3px 3px 15px -3px rgba(0,0,0,0.1);
    .t_collab_text{
        width: 45%;
    }
    .t_collab_image{
        width: 45%;
    }
}

.decentralized{
    margin-bottom: 10rem;
    p{
        font-size: .9rem;
    }
    .decentralized_text{
        width: 600px;

        &_down{
            &_each{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &_image{
                    &_first, &_second{
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &_first{
                        background-color: #00E5FF;
                    }
                    &_second{
                        background-color: #34D399;
                    }
                }
                h3{
                    font-weight: 600;
                }
                &_p{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: .5rem;
                    font-weight: 500;
                }
            }
        }

    }
    .decentralized_cards{
        width: 500px;
        
        .decentralized_cards_each{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;
            padding: 2rem;
            border-radius: 20px;
            cursor: default;
            transition: $transition;
            box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.1),5px 0px 11px -7px rgba(0,0,0,0.1);

            &_image{
                width: 8rem;
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }
            div{
                h3{
                    font-weight: 600;
                }
            }
        }
        .decentralized_cards_each:hover {
            background-color: $light-purple;
        }
    }
}


.home_how{
    margin-bottom: 10rem;
    &_div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &_each{
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            transition: $transition;
            padding: 2rem;
            border-radius: 20px;

            &_image{
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                background-color: $purple;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &_text{
                h3{
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                p{
                    font-size: .8rem;
                    text-align: center;
                }
            }
        }
        &_each:hover {
            background-color: $light-purple;
        }
    }
}

.home_ready{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;

    button{
        width: fit-content;
    }
}

.home_ready_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;

    .home_ready_cards_business{
        border-radius: 20px;
        background-color: $light-purple;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        box-shadow: 13px 8px 50px -8px rgba(0,0,0,0.1),-13px -8px 50px -8px rgba(0,0,0,0.1);

        .home_ready_cards_text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;

            &_image{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background-color: $purple;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &_text{
                h3{
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                div{
                    display: flex;
                    align-items: center;
                    font-size: .9rem;
                    margin-top: 3rem;
                }
            }
        }
        .home_ready_cards_image{
            width: 300px;
        }
    }
}


// scroll styles
.headerView{
    opacity: 1;
}



// media queries
@media screen and (max-width: 1500px) {
    .home_ready_cards{
        .home_ready_cards_business{
            .home_ready_cards_text{
                &_text {
                    p{
                        width: 500px;
                    }
                }
            }
        }
    }
}
@media screen and  (max-width: 1300px){
    .t_collab{
        width: 1000px;
    }
    .lightweight_small_cards{
        display: flex;
        flex-direction: column;
    }
    .home_ready_cards{
        .home_ready_cards_business{
            .home_ready_cards_text{
                &_text {
                    p{
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .decentralized{
        gap: 1rem;
        .decentralized_text{
            width: 400px;
        }
        .decentralized_cards{
            width: 400px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .home_ready{
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        gap: 0;

        button{
            align-self: flex-end;
        }
    }
    .home_ready_cards{
        .home_ready_cards_business{
            flex-direction: column;
            .home_ready_cards_text{
                &_text{
                    p{
                        width: 300px;
                    }
                }
            }
            .home_ready_cards_image{
                width: 300px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .home_header{
        h1{
            width: 45rem;
        }
    }
    .t_collab{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;

        .t_collab_text, .t_collab_image{
            width: 100%;

            .t_collab_btn{
                flex-direction: column;
            }
        }
    }
    .lightweight_small_cards{
        .lightweight_small_cards_first, .lightweight_small_cards_second{
            width: 400px;
            height: 500px;
        }
    }
}

@media screen and (max-width: 900px) {
    .decentralized{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
}

@media screen and (max-width: 800px) {
    .home_header {
        h1{
            width: 35rem;
        }
        p{
            width: 20rem;
        }
    }
    .home_ready_cards{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .home_header{
        h1{
            width: 20rem;
        }
    }
    .t_collab{
        width: 350px;

        .t_collab_text, .t_collab_image{
            h1{
                font-size: 1.5rem;
            }
            .t_collab_btn{
                flex-direction: column;
            }
        }
    }
    .lightweight_small_cards{
        .lightweight_small_cards_first, .lightweight_small_cards_second{
            width: 300px;
            height: 400px;
        }
    }
}

@media screen and (max-width: 500px){
    .decentralized{
        p{
            font-size: .8rem;
        }
        .decentralized_text{
            width: 300px;
        }
        .decentralized_cards{
            width: 300px;
        }
    }
}